/*****Google font to refernce******/

.nabla-giphy {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "EDPT" 100,
        "EHLT" 24;
}

/*****main styles*******/
body {
    background-color: black;
    color: white;
    padding: 15px;
}

h1, h2, .btn, .form-check-label {
    text-align: center;
    font-family: "Nabla", system-ui;
}

h1 {
    font-size: 4rem;
}

h1, h2, div {
    padding: 15px;
}

.input-group {
    color: black;
}

footer, .input-group-append {
    text-align: center;
}

.btn, .form-check-input {
    background-color: grey;
    border-color: grey;

}

.form-check-input:checked, .btn:hover {
    background-color: lightseagreen;
    border-color: lightseagreen;
}

.display-memes {
    padding: 15px;
}

.meme-sticker {
    height: 200px;
    padding: 15px;
}

footer {
    margin-top: 15px;
}