/*****main styles*******/
body {
    font-family: "Borel", cursive;
    background-color:black;
    color: white;
    padding: 15px;
}

.body-light {
    font-family: "Orbitron", sans-serif;
    background-color: white;
    color: darkgoldenrod;
}

h1, h2, .btn, .form-check-label {
    text-align: center;
}

.form-control {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 4rem;
}

h1, h2, div {
    padding: 15px;
}

.input-group {
    color: black;
}

footer, .input-group-append {
    text-align: center;
}

.btn, .form-check-input {
    background-color: grey;
    border-color: grey;
}

.form-check-input:checked, .btn:hover {
    background-color: lightseagreen;
    border-color: lightseagreen;
}

.display-memes {
    padding: 15px;
}

.meme-sticker {
    height: 200px;
    padding: 15px;
}

footer {
    margin-top: 15px;
}

.img-light {
    filter: invert(1);
}